@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --red: #d01c28;
  --gray: #2e2e2e;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 1440px;
}

* {
  margin: 0px;
  padding: 0px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.brand_logo {
  width: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}

ul li {
  list-style: none;
}

ul {
  display: flex;
  gap: 24px;
}

.navBtn {
  all: unset;
  padding: 6px 16px;
  background-color: var(--red);
  color: white;
  font-weight: 500;
  height: 32px;
  width: 75px;
  text-align: center;
  font-size: 20px;
}

/* section part */

.section {
  display: flex;
  justify-content: center;
  margin-top: 66px;
  align-items: center;
}

.sectionText h1 {
  font-weight: 800;
  font-size: 80px;
  line-height: 80px;
}

.sectionText {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 36px;
}

.sectionText p {
  font-size: 16px;
  font-weight: 600;
  color: var(--gray);
  max-width: 400px;
}

#sectionBtn {
  display: flex;
  gap: 40px;
}

.btn1 {
  font-size: 24px;
  color: #ffffff;
  background-color: var(--red);
  padding: 6px 16px;
  border: none;
}

.btn2 {
  font-size: 24px;
  border: 1px solid gray;
  padding: 6px 16px;
  background-color: transparent;
  color: var(--gray);
}

.shopping p {
  font-size: 14px;
  margin-bottom: 8px;
}

.brandIcon {
  display: flex;
  gap: 16px;
  margin-bottom: 10px;
}
