.app-container {
  display: flex;
}

.side-bar {
  width: 200px;
  min-height: 600px;
}

.content {
  width: 100%;
}

.post-card {
  margin: 20px 50px;
  width: 30rem;
}

.hastag {
  margin: 0px 3px;
}

.reactions {
  margin: 15px 10px 15px 10px;
}

.create-post {
  margin: 5% 10%;
  width: 60%;
}
