.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.container form label {
  font-weight: bold;
  color: #3e3e3e;
}

.container form input {
  outline: none;
  padding: 10px 10px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 7px;
  border: 1px solid #3e3e3e;
}

.container form {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: end;
  border: 1px solid #a3a3a3;
  border-radius: 7px;
  padding: 1em;
  min-width: 25%;
  max-width: 35%;
  box-shadow: 0px 0px 25px #a3a3a3;
}

form > button {
  padding: 10px 10px;
  background-color: #a3a3a3;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  border-radius: 7px;
  transition: 1s all;
  cursor: pointer;
}

form div {
  flex: 1;
}
